nav{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    gap:30px;
    padding:10px;
}
nav button,#section1 button{
    width:80px;
    height:50px;  
    background-color:lightseagreen;
    color:white;
    font-family: 'Times New Roman', Times, serif;  
    padding:10px;
    font-size:16px;
    cursor: pointer;
    border:none;
    border-radius:3px;
    transition:0.5s;
}
nav button:hover{
    transform:translateY(10px);
    transition:0.5s;
   box-shadow:1px 2px 3px lightseagreen;
}
#section1{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items:center;
    background-color:lightgreen;
    margin:10px 34%;
    border:1px solid lightgreen;
    padding:20px;
    box-shadow:1px 2px 4px lightgreen;
    transition: 0.2s;
}
#section1:hover{
    transform: scale(1.05);
    transition:0.3s;
}
#section1 .consditions h3{
   font-size:25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   letter-spacing: 2px;
}
.consditions{

    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
}
#section1 .time{
    text-transform: capitalize;
    width:350px;
    display: flex;
    flex-flow:column wrap;
    align-items: center;
}
#section1 p{
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}
ul{
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    line-height:18px;
    text-transform: capitalize;
}
#section1 button:hover{
    transform: translateY(5px) scale(1.054);
    transition:0.3s;
   box-shadow:2px 2px 4px lightseagreen;
}
#section1 button:active{
    background-color: lightblue;
}
#section2{
    display:none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap:10px;
    padding:20px;
    margin-top:10px;
    border:1px solid rgb(236, 232, 232);
    box-shadow: 2px 2px 3px rgb(236, 232, 232);
}

#section2 .div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin:20px;
    padding:30px;
    height:210px;
    background-color: aliceblue;
    box-shadow:1px 2px 4px aliceblue;
}
#section2 .div:hover{
    margin:15px 12px;
    box-shadow:1px 2px 4px aliceblue;
    background-color: lightcoral;
    box-shadow:1px 2px 3px lightcoral;
    transition:0.4s;
}
#section2 .div:active{
    background-color:rgb(141, 215, 240);
     box-shadow:1px 2px 3px rgb(141, 215, 240);
}
#section2 button{
    width:90px;
    height:48px;
    background-color:rgb(127, 219, 127);
    border-radius: 3px;
    border:none;
    margin-left:45%;
}
#section2 button:hover{
    transform:translateY(7px);
    transition:0.3s;
    box-shadow:1px 2px 4px rgb(127, 219, 127);
}
#section2 button:active{
    background-color:lightseagreen;
    box-shadow:2px 2px 4px lightseagreen;
}
.option{
    width:44%;
    padding:15px 20px;
    margin-left:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
label{
    flex-basis:25%;
    padding:10px 20px;
    margin:10px;
    font-size:18px;
}
h3,label{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform:capitalize;
}

h3{
    font-size:28px;
}
#result{
   display:none;
   position: fixed;
   top:140px;
   left:70px;
   flex-direction:column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap:20px;
   border: 1px solid rgb(236, 232, 232);
   box-shadow:1px 2px 3px rgb(255, 242, 242);
   margin:10px 33%;
   padding: 30px;
   background-color:rgb(255, 242, 242);
   
}
#result:hover{
    transform: scale(1.05);
    transition:0.3s;
    background-color:transparent;
}
#result h1{
    font-size:26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing:2px;
}
#result .score{
    display: flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content: center;
    height:150px;
}
#result p{
    font-size:18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:-10px;
}
#result h3{
    font-size:16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
